<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<i>
    Fill out the Form.Asterisk (*) means required.
</i>
<br><br>

<form method="post" th:action="@{/processForm}" th:object="${customer}">
    First name : <input name="firstName" type="text"/> <br><br>
    Last name : <input name="lastName" type="text"/>
    <!--  Add error message to invalid last name-->
    <span
            class="error"
            th:errors="*{lastName}"
            th:if="${#fields.hasErrors('lastName')}">
        Error message
    </span><br><br>

    Free passes : <input name="freePasses" type="text"/>
    <!--  Add error message to invalid passes-->
    <span
            class="error"
            th:errors="*{freePasses}"
            th:if="${#fields.hasErrors('freePasses')}">
        Error message
    </span>
    <br><br>

    Postal Code : <input name="postalCode" type="text"/>
    <!--  Add error message to invalid postal code-->
    <span
            class="error"
            th:errors="*{postalCode}"
            th:if="${#fields.hasErrors('postalCode')}">
        Error message
    </span>
    <br><br>

    Course Code : <input name="courseCode" type="text"/>
    <!--  Add error message to invalid postal code-->
    <span
            class="error"
            th:errors="*{courseCode}"
            th:if="${#fields.hasErrors('courseCode')}">
        Error message
    </span>


    <br><br>
    <input
            type="submit" value="Submit"
    />
</form>

</body>
</html>