<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Access Denied Page</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h1>Access Denied - You are not authorized to access this page!
    </h1>

    <hr>
    <p>
        <a th:href="@{/}">Back to Home Page</a>
    </p>
</div>
</body>
</html>
