<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Manager Page</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h1>Manager Page</h1>
    <hr>
    <p>
        This is the Manager page of the Spring MVC Security application.
    </p>

    <hr>
    <p>
        <a th:href="@{/}">Home Page</a>
    </p>
</div>
</body>
</html>
